
.background-image{
    background-image: url("../images/logo_192.png"), linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); 
    background-repeat: no-repeat;
    background-position: left center; 
}


@media (min-width: 1px) {
    .display-1 {
        font-size: 4rem
    }
}

@media (min-width: 576px) {
    .display-1{
        font-size: 5rem
    }
    
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .display-1 {
        font-size: 6rem
    }
    
}

#note-display {
        z-index: 4;
        box-shadow: 0 0 10px #aaa;
}
.btn-danger:hover {
	background-color: #aed4fb;
    box-shadow: 0 0 8px #fff;
}